* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	box-sizing: border-box;
}
body {
	background: #d5d0d0;
}
.header {
	font-style: bold;
	text-align: center;
	font-size: 2em;
	color: rgb(61, 56, 56);
	padding: 1rem;
}
/* .view1 {
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	background-color: pink;
} */
/* p {
	color: #fff;
	font-size: 20px;
	text-align: center;
}
button {
	padding: 20px 40px;
	margin: 20px;
	cursor: pointer;
	background: none;
	color: #fff;
	font-size: 18px;
	border: 3px solid #ddd;
	border-radius: 8px;
	transition: 0.3s;
	text-transform: uppercase;
}
button:hover {
	background-color: #ddd;
	color: #000;
} */

input {
	font-size: 1rem;
	text-align: center;
	padding: 1rem;
	margin-bottom: 0.5rem;
	width: 50vw;
	/* letter-spacing: 5px; */
	border-radius: 25px;
	outline: none;
}

output:hover,
input:focus {
	box-shadow: 2px 2px 20px #424242;
}

section {
	width: 100vw;
	height: 100vh;
}

label {
	text-align: center;
	margin-bottom: 0.5rem;
}

.phoneFormat {
	display: none;
	text-align: center;
	font-size: 0.75rem;
}

.block {
	display: block;
}

.invalid {
	color: red;
}
